{% extends "base.html" %}

{% block content %}
<div class="exstra_concole">
    <div class="console" wight="30%">   
        <div class="up_console">
            <h1>_[SubScript@]_@$</h1>
            
        </div>
        <div class="main_console1">
            <h1 class="text">_[SubScript@]_@$<span class="cursor"></span></h1>
            <h3 class="text2">Our courses:</h3>
            <div class="box">
                <ul>
                    <li class="console-li1"><a href="/flask_base"><img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&weight=900&size=32&pau se=1000&color=ABB1B0&width=435&lines=%D0%A3%D1%80%D0%BE%D0%BA%D0%B8+%D0%BF%D0%BE+flask+c+%D0%BD%D1%83%D0%BB%D1%8F"></a></li>
                </ul>
            </div>
        </div>  
    </div>
</div>
{% endblock %}