{% extends "base.html" %}

{% block content %}
<div class="exstra_concole">
    <form method="post">
        <div class="console" wight="30%">   
            <div class="up_console">
                <h1>_[SubScript@]_@$</h1>
                <button type="submit" class="btn btn-primary">add +</button>
            </div>
            <div class="main_console1">
                <h1>Lesson 1</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/6jxveKOdyNg?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h1>Lesson 2</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/TSsEMFZVr5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h1>Lesson 3</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/tP09rxKbNMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h1>Lesson 4</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/oM39KVYsjRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h1>Lesson 5</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/pgoRiPJkm3g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h1>Lesson 6</h1>
                <iframe width="1200" height="720" src="https://www.youtube.com/embed/b-Pi5Ggnm2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>  
        </div>
    </form>
</div>
{% endblock %}